body, html{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

h1{
    margin:0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.box{
    width: 800px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.08);
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.question{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 27px;
}
.answers-container{
    margin-bottom: 30px;
    list-style: none;
}
li{
    margin-bottom: 15px;
    font-size: 22px;
}
li>input{
    margin-right: 15px;
}

.feedback, .result{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: pink;
    width: 250px;
    margin-bottom: 30px;
    display: none;
}

.btn{
    display: block;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    background-color: orange;
}